.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Screenshot\ 2023-08-05\ 195102.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header > div {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.575);
  color: white;
}
.header > div > div:nth-of-type(1) {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}
.header > div > div:nth-of-type(1) > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > div > div:nth-of-type(1) > div > img {
  margin-left: 30px;
  width: 150px;
}
.header > div > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 100px;
  margin-right: 30px;
}
.header > div > div:nth-of-type(1) > div:nth-of-type(3) > a {
  margin: 0 10px;
}
.header > div > div:nth-of-type(1) > div:nth-of-type(2) {
  margin-left: 590px;
  width: 600px;
}
.header > div > div:nth-of-type(1) > div:nth-of-type(2) > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header > div > div:nth-of-type(1) > div:nth-of-type(2) > ul > * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2px;
  transition: 1s;
}
.header > div > div:nth-of-type(1) > div:nth-of-type(2) > ul > *:hover {
  color: rgba(188, 143, 143, 0.737);
  text-decoration: underline;
}
.header > div > div:nth-of-type(2) {
  width: 80%;
  height: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header > div > div:nth-of-type(2) > * {
  width: 100%;
}
.header > div > div:nth-of-type(2) > h2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 15px;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.699);
}
.header > div > div:nth-of-type(2) > h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 30px;
  margin-top: -150px;
  color: rgb(232, 170, 160);
}
.header > div > div:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  height: 50px;
}
.header > div > div:nth-of-type(2) > div > * {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 50px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  text-transform: uppercase;
  font-size: 14px;
}
.header > div > div:nth-of-type(2) > div > *:nth-of-type(1):hover {
  color: rgb(232, 170, 160);
  background: rgb(255, 255, 255);
}
.header > div > div:nth-of-type(2) > div > *:nth-of-type(2):hover {
  color: rgb(255, 255, 255);
  background: rgb(232, 170, 160);
}

.topmenu {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.topmenu > div {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
}
.topmenu > div > div {
  border-radius: 5px;
  width: 28%;
  margin: 0 40px;
}
.topmenu > div > div > * {
  width: 100%;
  height: 33%;
}
.topmenu > div > div > h3 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(232, 170, 160);
}
.topmenu > div > div > h4 {
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.748);
  letter-spacing: 10px;
}
.topmenu > div > div > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.518);
}

.middle {
  width: 100%;
}
.middle > div:nth-of-type(1) {
  width: 100%;
  height: 400px;
  background-color: rgb(249, 235, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.middle > div:nth-of-type(1) > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.middle > div:nth-of-type(1) > h5 {
  color: rgb(232, 171, 161);
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 5px;
}
.middle > div:nth-of-type(1) h4 {
  margin-top: -250px;
  font-size: 50px;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
}
.middle > div:nth-of-type(2) {
  position: absolute;
  width: 840px;
  height: 540px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  top: 190vh;
  left: 350px;
}
.middle > div:nth-of-type(2) > div {
  display: flex;
  flex-wrap: wrap;
}
.middle > div:nth-of-type(2) > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.middle > div:nth-of-type(2) > div > p {
  width: 100%;
  height: 20%;
  color: white;
  background-color: #000000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.middle > div:nth-of-type(2) > div:hover > img {
  height: 80%;
}
.middle > div:nth-of-type(2) > div:hover > p {
  opacity: 1;
}
.middle > div:nth-of-type(3) {
  width: 100%;
  height: 380px;
  background-color: white;
}

.service {
  width: 100%;
  height: 120vh;
  background-image: url(../img/services2-1.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}
.service > div {
  width: 50%;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service > div:nth-of-type(1) {
  width: 50%;
  height: 60%;
  margin-top: 200px;
  flex-wrap: wrap;
  padding: 70px;
}
.service > div:nth-of-type(1) > * {
  width: 100%;
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
}
.service > div:nth-of-type(1) > h6 {
  font-size: 15px;
  color: #e8aaa0;
  letter-spacing: 5px;
  font-weight: bold;
}
.service > div:nth-of-type(1) > h4 {
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: bold;
}
.service > div:nth-of-type(1) > p {
  font-size: 15px;
}
.service > div:nth-of-type(1) > a {
  background-color: #e8aaa0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 470px;
  font-weight: bold;
  transition: 1s;
}
.service > div:nth-of-type(1) > a:hover {
  border: 1px solid white;
}
.service > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service > div:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) {
  border: 2px solid rgba(255, 255, 255, 0.437);
  width: 70%;
  height: 60%;
  border-radius: 50%;
  position: relative;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a {
  background-color: white;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6392156863);
  transition: 0.4s;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(1) {
  top: -6%;
  left: 42%;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(1):hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(1):hover ~ div > div:nth-of-type(1) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(2) {
  top: 20%;
  left: 87%;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(2):hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(2):hover ~ div > div:nth-of-type(2) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(3) {
  top: 70%;
  left: 84%;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(3):hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(3):hover ~ div > div:nth-of-type(3) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(4) {
  top: 92%;
  left: 42%;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(4):hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(4):hover ~ div > div:nth-of-type(4) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(5) {
  top: 70%;
  left: 2%;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(5):hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(5):hover ~ div > div:nth-of-type(5) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(6) {
  top: 20%;
  left: -1%;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(6):hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-child(6):hover ~ div > div:nth-of-type(6) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:hover {
  background: #e8aaa0;
  color: white;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:hover:hover ~ div > div {
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > a:hover:hover ~ div > div:nth-of-type(7) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.437);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div > div {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div > div > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div > div:nth-of-type(1) {
  display: flex;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div > div > i {
  font-size: 60px;
  color: rgb(232, 170, 160);
  margin-top: -20px;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div > div > h4 {
  font-size: 25px;
  margin-top: 20px;
}
.service > div:nth-of-type(2) > div:nth-of-type(1) > div > div > p {
  width: 70%;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}

.client {
  width: 100%;
  height: 100vh;
  background-image: url(../img/testimonials2.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.client > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
}
.client > h6 {
  color: #e8aaa0;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 30px;
  font-weight: 2000;
}
.client > h5 {
  font-size: 45px;
  letter-spacing: 15px;
  font-weight: bold;
  margin-top: -580px;
}
.client > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 70px;
}
.client > div > a {
  margin: 0 15px;
}
.client > div > a > img {
  border-radius: 50%;
}
.client > div > a:hover > img {
  width: 110%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.client > div > a:nth-of-type(1):hover ~ div > div {
  opacity: 0;
}
.client > div > a:nth-of-type(1):hover ~ div > div:nth-of-type(1) {
  opacity: 1;
}
.client > div > a:nth-of-type(2):hover ~ div > div {
  opacity: 0;
}
.client > div > a:nth-of-type(2):hover ~ div > div:nth-of-type(2) {
  opacity: 1;
}
.client > div > a:nth-of-type(3):hover ~ div > div {
  opacity: 0;
}
.client > div > a:nth-of-type(3):hover ~ div > div:nth-of-type(3) {
  opacity: 1;
}
.client > div > a:nth-of-type(4):hover ~ div > div {
  opacity: 0;
}
.client > div > a:nth-of-type(4):hover ~ div > div:nth-of-type(4) {
  opacity: 1;
}
.client > div > a:nth-of-type(5):hover ~ div > div {
  opacity: 0;
}
.client > div > a:nth-of-type(5):hover ~ div > div:nth-of-type(5) {
  opacity: 1;
}
.client > div > a:nth-of-type(6):hover ~ div > div {
  opacity: 0;
}
.client > div > a:nth-of-type(6):hover ~ div > div:nth-of-type(6) {
  opacity: 1;
}
.client > div > div {
  position: absolute;
  width: 100%;
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
}
.client > div > div > div {
  position: absolute;
  opacity: 0;
}
.client > div > div > div > p {
  font-size: 20px;
}
.client > div > div > div > p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 17px;
}
.client > div > div > div > a {
  margin-top: 10px;
  font-size: 18px;
  color: #e8aaa0;
}
.client > div > div > div:nth-of-type(1) {
  opacity: 1;
}

.information {
  width: 100%;
  height: 120vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information > div:nth-of-type(1) {
  width: 80%;
  margin: -60px 10% 0 10%;
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}
.information > div:nth-of-type(1) > a {
  flex-shrink: 1;
  width: 260px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.information > div:nth-of-type(1) > a > * {
  width: 100%;
  margin-right: 70px;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
}
.information > div:nth-of-type(1) > a:nth-of-type(1) {
  color: rgb(232, 170, 160);
}
.information > div:nth-of-type(1) > a:nth-of-type(1) > p:nth-of-type(2) {
  border-top: 1px solid rgb(232, 170, 160);
}
.information > div:nth-of-type(1) > a > p:nth-of-type(1) {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}
.information > div:nth-of-type(1) > a > p:nth-of-type(2) {
  font-size: 10px;
  border-top: 1px solid black;
}
.information > div:nth-of-type(1) > a > div {
  display: flex;
  flex-wrap: nowrap;
}
.information > div:nth-of-type(1) > a > div > * {
  font-size: 20px;
}
.information > div:nth-of-type(1) > a > div > i {
  width: 20%;
}
.information > div:nth-of-type(1) > a > div > p {
  font-weight: bold;
  width: 70%;
}
.information > div:nth-of-type(2) {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  margin: -200px 10% 0 10%;
  height: 365px;
}
.information > div:nth-of-type(2) > figure {
  width: 45%;
  margin-left: 10%;
}
.information > div:nth-of-type(2) > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.information > div:nth-of-type(2) > div {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}
.information > div:nth-of-type(2) > div > * {
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
}
.information > div:nth-of-type(2) > div > h4 {
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: bold;
}
.information > div:nth-of-type(2) > div > p {
  font-size: 17px;
}
.information > div:nth-of-type(2) > div > a {
  background-color: #e8aaa0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.information > div:nth-of-type(2) > div > a:hover {
  border: 1px solid black;
}

.news {
  width: 100%;
  height: 130vh;
  background-image: url(../img/blog22.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news > div:nth-of-type(1) {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -100px;
}
.news > div:nth-of-type(1) > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.news > div:nth-of-type(1) > h5 {
  color: rgb(232, 171, 161);
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 5px;
}
.news > div:nth-of-type(1) h4 {
  margin-top: -250px;
  font-size: 50px;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
}
.news > div:nth-of-type(2) {
  width: 75%;
  margin-top: -400px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.news > div:nth-of-type(2) > * {
  width: 326px;
  margin: 0 25px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.news > div:nth-of-type(2) > * > * {
  width: 100%;
  height: 50%;
}
.news > div:nth-of-type(2) > * > figure {
  overflow: hidden;
}
.news > div:nth-of-type(2) > * > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.news > div:nth-of-type(2) > * > figure > img:hover {
  width: 110%;
  height: 110%;
}
.news > div:nth-of-type(2) > * > div {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.news > div:nth-of-type(2) > * > div > * {
  width: 100%;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Quicksand", sans-serif;
  margin-left: 15px;
}
.news > div:nth-of-type(2) > * > div > a {
  text-align: start;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.796);
  transition: 0.4s;
}
.news > div:nth-of-type(2) > * > div > a:hover {
  color: #e8aaa0;
}
.news > div:nth-of-type(2) > * > div > p {
  font-size: 15px;
  margin-top: 10px;
}
.news > div:nth-of-type(2) > * > div > p > a {
  font-weight: bold;
  color: #e8aaa0;
}
.news > div:nth-of-type(2) > * > div > p > a:hover {
  color: rgba(0, 0, 0, 0.593);
}
.news > div:nth-of-type(2) > * > div > p:nth-of-type(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.4784313725);
  width: 85%;
  margin: 0 17px;
}
.news > div:nth-of-type(2) > * > div > div {
  display: flex;
  flex-wrap: nowrap;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4784313725);
}
.news > div:nth-of-type(2) > * > div > div > * {
  font-weight: bold;
}
.news > div:nth-of-type(2) > * > div > div > i {
  margin-left: 20px;
}

.footer {
  width: 100%;
  height: 600px;
  background-image: url(../img/newhome4.jpg);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer > * {
  width: 100%;
}
.footer > div:nth-of-type(1) {
  width: 60%;
  margin: 0 20%;
  display: flex;
  flex-wrap: nowrap;
  height: 300px;
  margin-top: 100px;
}
.footer > div:nth-of-type(1) > div {
  flex-grow: 1;
}
.footer > div:nth-of-type(1) > div > * {
  height: 100px;
  text-align: center;
}
.footer > div:nth-of-type(1) > div > div {
  width: 50px;
  height: 50px;
  margin: 0 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8aaa0;
  border-radius: 50%;
}
.footer > div:nth-of-type(1) > div > div > i {
  font-size: 35px;
}
.footer > div:nth-of-type(1) > div > p:nth-of-type(1) {
  font-size: 20px;
  margin-top: 50px;
}
.footer > div:nth-of-type(1) > div > p:nth-of-type(2) {
  font-size: 15px;
  margin-top: -50px;
  color: rgba(255, 255, 255, 0.723);
}
.footer > div:nth-of-type(2) {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > img {
  width: 10%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: -70px;
}
.footer > div:nth-of-type(2) {
  margin-top: -50px;
}
.footer > div:nth-of-type(2) > div > a {
  margin: 0 15px;
}
.footer > div:nth-of-type(2) > div > a > i {
  font-size: 25px;
}
.footer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.433);
  font-size: 13px;
  margin-top: -90px;
}/*# sourceMappingURL=master.css.map */